@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


:root{
    --fonte-destaque: Montserrat, sans-serif;
    --fonte-principal: Roboto, sans-serif;
    --cor-primaria: #0086af;
    --cor-secundaria:#ab9dc9;
}

*{
    margin: 0;
    padding: 0;
}

strong{
  color: var(--cor-primaria);
}

h1,h2,h3{
  font-family: var(--fonte-destaque);
}


body, html{
  overflow-x: hidden;
}

body{
  font-family: var(--fonte-principal);
  line-height: 2em;
}


 header {
  position: fixed;
  color: white;
  padding: 20px 0px;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  z-index: 1000;
  transition: background-color 0.3s ease, padding 0.3s ease;
  background-image: linear-gradient(45deg, #0e4b5d, #0086af); 
}

header.scrolled {
  background-image: linear-gradient(45deg, #0e4b5d, #0086af);

}

header figure {
  margin: 0;
}

#logo {
  width: 250px;
  transition: filter 0.3s ease;
}


.btn-whatsapp{
  padding: 10px 20px;
  background-color: #25D366;
  color: white;
  padding: 12px 22px;
  text-decoration: none;
  font-weight: 700;
  border-radius: 6px;
  transition: background-color 0.3s ease;
  border: none;
  
}

.btn-whatsapp:hover{
    background-color: #1ebc57;
}

.btn-whatsapp a{
    color: white;
}

a{
    text-decoration: none;
}

#bandeira{
    position: relative;
    max-width: 100vw;
    height: 700px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.068), rgba(0, 0, 0, 0.452)), url(imagens/bandeira.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 70px;
    margin-bottom: 50px;

}

#bandeira div{
    position: absolute;
    top: 55%;
    left: 10%;
    color: white;
    transform: translate(-10%, -55%);
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    width: 50%;
    

}

h1,h2,h3{
  font-family: var(--fonte-destaque);
}

#bandeira h1{
  font-weight: 500;
  line-height: 1.3em;
  text-align: start;
}

#bandeira button{
    display: block;
    cursor: pointer;
    padding: 0;
    width: fit-content;
    padding: 5px 20px;
    background-color: #0086af;
}

#bandeira button:hover{
  background-color: #ab9dc9;
}

#bandeira button a{
  display: block;
  width: 100%;
  padding: 15px 0;
}

p{
    line-height: 2em;
    text-align: justify;

}


section {
  margin: 50px auto;
}

section h3 {
  font-family: var(--fonte-destaque);

  font-weight: 500;
  font-size: 1.5rem;
  color: #00517c;
  margin-bottom: 25px;
  border-bottom: 3px solid #ab9dc9;
  display: inline-block;
  padding-bottom: 5px;
}
.sobre p {
  font-size: 1.15rem;
  margin: 20px auto;
}

.sobre-container {
  display: grid;
  grid-template-columns: 0.8fr 1.2fr;
  gap: 5rem;
  align-items: center;
}

.sobre-foto img {
  width: 100%;
  max-width: 320px;
  border-radius: 12px;
  object-fit: cover;
  box-shadow: 0 8px 24px rgba(0,0,0,0.08);
}

@media (max-width: 768px) {
  .sobre-container {
    grid-template-columns: 1fr;
   
  }

  .sobre-foto img {
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }
}


.cta-faixa {

  max-width: 100vw;
  height: 300px;
  background: #0086af;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 2rem 0;
  color: white;
}
.cta-container{
  width: 90%;
  padding: 0;
  margin: auto;
}

.cta-container h3 {
  font-size: 1.8rem;
  margin-bottom: 0.75rem;
  color: white;
}

.cta-container p {
  font-size: 1rem;
  margin-bottom: 1.5rem;
  color: #ffffff;
  text-align: center;
}

.cta-btn {
  display: inline-block;
  padding: 0.75rem 1.6rem;
  background: #034153;
  color: #fff;
  border-radius: 999px;
  text-decoration: none;
  font-weight: 500;
  transition: 0.2s ease;
}

.cta-btn:hover {
  transform: translateY(-2px);
  opacity: 0.9;
}


.servicos-lista {
  display: grid;
  gap: 12px;
  max-width: 1200px;
  margin: 0 auto;
}
.servico-item {
  display: flex;
  align-items: center;
  gap: 12px;
  background: white;
  border-radius: 10px;
  padding: 18px 22px;
  box-shadow: 0 3px 8px rgba(0,0,0,0.08);
  font-weight: 600;
  transition: transform 0.3s ease;
  cursor: default;
  
}

.servico-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 7px 15px rgba(0,0,0,0.15);
  background-color: #00517c;
  color: white;
}


.servico-item:hover i {
  color: white;
}

.servico-item i {
  font-size: 24px;
  color: #095E78;

}

#container-form{
  display: flex;
  align-items: center;
  gap: 50px;  
  background-image: 
  linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), 
  url(imagens/background-form.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px;
  padding: 40px;
    
}

#container-form p{
  font-size: 1.5em;
  color: white;
}


form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  
}

input, textarea {
  padding: 12px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 16px;
}

form button {
  padding: 12px;
  border-radius: 6px;
  border: none;
  background-color: #0077b6;
  color: white;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.3s ease;
}

form button:hover {
  background-color: #005f87;
}


#saiba-mais {
  max-width: 1200px;
  margin: 40px auto;
  padding: 0 16px;
}

.grade-videos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 18px;
}

.cartao-video {
  background: #fff;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 3px 10px rgba(0,0,0,.08);
}

.cartao-video .thumb {
  position: relative;
  display: block;
  aspect-ratio: 16/9;
  background: #000;
}

.cartao-video img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.cartao-video h4 {
  font-size: 0.9rem;

  margin: 0;
  padding: 12px 14px 16px;
  line-height: 2em;
  font-weight: 400;
}

.navegacao-videos {
  display: flex;
  justify-content: center;
  gap: 15px;       /* espaço entre os botões */
  margin-top: 20px;
}

.navegacao-videos button {
  padding: 10px 20px;
  background-color: #dbae1a; /* vermelho elegante */
  color: white;
  font-weight: bold;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s, transform 0.2s;
}

.navegacao-videos button:hover:not(:disabled) {
  background-color: #dbae1a; /* vermelho mais escuro ao passar o mouse */
  transform: translateY(-2px);
}

.navegacao-videos button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
  color: #666;
}

.social-buttons {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    z-index: 1000;
}

.social-button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.social-button img {
    width: 30px;
    height: 30px;
}


/* WhatsApp Button */
.whatsapp-button {
    background-color: #25d366;
}

.whatsapp-button:hover {
    background-color: #1ebe57;
    transform: scale(1.1);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

/* ANIMAÇÃO DE SURGIMENTO */

.surgir {
  opacity: 0;
  transform: translateY(30px);
  transition: all 0.6s ease-out;
}

.surgir.aparecendo {
  opacity: 1;
  transform: translateY(0);
}

.surgir-direita {
  opacity: 0;
  transform: translateX(50px);
  transition: all 0.6s ease-out;
}
.surgir-direita.aparecendo {
  transform: translateX(0);
  opacity: 1;
}

.surgir-esquerda {
  opacity: 0;
  transform: translateX(-50px);
  transition: all 0.6s ease-out;
}
.surgir-esquerda.aparecendo {
  transform: translateX(0);
  opacity: 1;
}

.surgir-baixo {
  opacity: 0;
  transform: translateY(50px);
  transition: all 0.6s ease-out;
}
.surgir-baixo.aparecendo {
  transform: translateY(0);
  opacity: 1;
}


.rodape {
  background-color: #022530;
  color: white;
  padding: 40px 20px;
  font-family: sans-serif;
}

.logo-rodape{
  max-width: 80px;
}

.rodape info{
  text-align: left;
}

.container-rodape {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
  max-width: 1200px;
  margin: 0 auto;
}

.info-rodape, .contato-rodape, .social-rodape {
  flex: 1 1 250px;
}

.social-rodape div{
  display: flex;
  flex-direction: column;
}
.rodape h4 {
  margin-bottom: 12px;
  font-size: 1.2em;
}

.rodape a {
  color: white;
  text-decoration: none;
  margin-bottom: 6px;
  transition: color 0.3s;
  

}

.rodape a:hover {
  color: #ab9dc9;
}

.copyright-rodape {
  text-align: center;
  margin-top: 30px;
  font-size: 0.9em;
  color: #ccc;
}
